<html>
<head><title>Hello from Ansile</title></head>
<body>
<h1>Congratulations!</h1>
<p>Nice job {{ username }}!! You have successfully ran your smart playbook! Yuppyyy! Now go and create some Roles out of this playbook
</p>
</body>
</html>
